<%if books.present?%>
  <p>
    <%case status%>
    <%when 9 then%>
      読了
    <%when 7 then%>
      読書開始
    <%when 3 then%>
      購入済
    <%when 0 then%>
    　気になる
    <%else%>
    <%end%>
    ：
    <%=books.count%>
  </p>
  <table>
    <thead>
      <th><!--image--></th><th>タイトル</th><th>著者</th><th>ISBN</th><th>状態</th><th><!--status update--></th>
    </thead>
    <tbody>
      <%books.each do |book|%>
        <tr id="book-<%=book.id%>">
          <td>
            <%=link_to (image_tag(book.image_url, style: "width: 35px;height: 50px;display: inline-block;")), book.url%>
          </td>
          <td>
            <%=book.title%>
          </td>
          <td>
            <%=book.author%>
          </td>
          <td>
            <%=book.isbn%>
          </td>
          <td>
            <p>登録から<%=(Time.now - book.statuses.find_by(status_code: status).created_at).to_i/(60*60*24)%>日</p>
          </td>
          <td>
            <%if status < 3%>
              <%=link_to '購入済', books_update_path(
                :book_id => book.id,
                :status => 3), # 購入済
                :method => :post,
                data: {confirm: "「購入済」に更新します."},
                class: 'update_status',
                remote: true%>
            <%end%>
            <%if status < 7%>
              <%=link_to '読書開始', books_update_path(
                :book_id => book.id,
                :status => 7), # 読書開始
                :method => :post,
                data: {confirm: "「読書開始」に更新します."},
                class: 'update_status',
                remote: true%>
            <%end%>
            <%if status < 9%>
              <%=link_to '読了', books_update_path(
                :book_id => book.id,
                :status => 9), # 読書開始
                :method => :post,
                data: {confirm: "「読了」に更新します."},
                class: 'update_status',
                remote: true%>
            <%end%>
          </td>
          </div>
        </tr>
      <%end%>
    </tbody>
  </table>
<%end%>
