<h1>Book#index</h1>
<p>Find me in app/views/book/index.html.erb</p>
<p>登録数：<%=@books.count%></p>
<%=render partial: 'books', locals: {books: @books_status_9, status: 9}%>
<%=render partial: 'books', locals: {books: @books_status_7, status: 7}%>
<%=render partial: 'books', locals: {books: @books_status_3, status: 3}%>
<%=render partial: 'books', locals: {books: @books_status_0, status: 0}%>
<%=link_to "登録する本を探す", '/books/search'%>
